body {
  background-image: url("../imgs/IMG_4468.PNG");
  background-repeat: repeat;
  background-size: 400px;
}

header {
  width: 100%;
  background-color: #dbc99fe7;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text ul {
  list-style: none;
}
